.wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
}

.inner-contents {
   width: 85%;
   position: relative;
}

.header-list {
   display: flex;
   justify-content: space-between;
   padding: 5px 20px;
   margin-bottom: 10px;

   & h4 {
      font-size: 1.8rem;
      font-weight: 400;
   }

   & .product-info {
      flex: 1;
      text-align: center;
      width: 550px;
   }

   & .product-price {
      width: 268px;
      text-align: center;
   }

   & .product-amount {
      width: 117px;
      text-align: center;
   }

   & .product-total-price {
      width: 162px;
      text-align: center;
   }

   & .action {
      width: 47px;
      text-align: center;
   }
}

.no-product {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   & .message {
      text-align: center;
      font-weight: 400;
   }

   & .go-shop {
      width: fit-content;
      margin-top: 10px;
   }
}

.title {
   padding: 30px 0;
   font-weight: 400;
}

.list-products {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.actions {
   width: 100%;
   display: flex;
   justify-content: center;
}

.total {
   width: 100%;
   display: flex;
   justify-content: space-between;
   color: var(--txtColor);
   margin: 30px 0;
   font-size: 2.4rem;
}

.amount {
   font-weight: 400;
   color: var(--txtColor);
}

.total-price {
   display: flex;
   justify-content: center;

   & h4 {
      margin-left: 10px;
      font-weight: 400;
   }

   &:last-child {
      color: orange;
   }
}

.btn-flex {
   display: flex;
   justify-content: flex-end;
   margin-top: 30px;
}

.pay-btn {
   width: fit-content;
}
