.wrapper {
   width: 238px;
   height: 105px;
   border-radius: 5px;
   background-color: rgb(234, 236, 241);

   &:hover {
      cursor: pointer;
      // border: 1px solid var(--mainColor);
   }
}

.selected {
   border: 1px solid var(--mainColor);
}

.inner-contents {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   & img {
      width: 80px;
      height: 80px;
      object-fit: contain;
   }

   & h3 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5rem;
   }
}
