.wrapper {
   // display: inline-block;
   width: 300px;
   min-height: 420px;
   border-radius: 5px;
   border: 1px solid #ccc;
   position: relative;

   &:hover {
      border: 1px solid #777;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   }
}

.inner-contents {
   // cursor: pointer;
   margin-top: 8px;

   & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
      border-radius: 5px;
   }
}

.sale-flag {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: -5px;
   left: 3px;
   padding: 0 6px 0 6px;
   background-color: red;
   color: white;

   &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      z-index: 1;
      right: -5px;
      border-left: 2.5px solid rgb(185, 0, 0);
      border-bottom: 2.5px solid rgb(185, 0, 0);
      border-top: 2.5px solid transparent;
      border-right: 2.5px solid transparent;
   }

   &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      z-index: 1;
      bottom: -5px;
      border-left: 25px solid red;
      border-right: 25px solid red;
      border-top: 0px solid transparent;
      border-bottom: 5px solid transparent;
   }
}

.product-title {
   color: var(--txtColor);
   padding: 8px;

   & h3 {
      font-weight: 400;
      margin: 6px 0;
      font-size: 1.8rem;
      line-height: 20px;
      height: 40px;
      display: block;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
   }

   & div {
      display: flex;
      justify-content: right;
   }
}

.product-price {
   font-size: 1.8rem;
   font-weight: 400;
   color: orange;
}

.sale-price {
   font-size: 1.5rem;
   font-weight: 400;
   text-decoration: line-through;
   margin-right: 10px;
}

.product-btn {
   width: fit-content;
   padding: 8px;
}
