.wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
}

.inner-contents {
   width: 85%;
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.brands-list {
   width: 1245px;
}
