@keyframes top_down {
   from {
      top: -200px;
      opacity: 0;
   }
   to {
      top: 0;
      opacity: 1;
   }
}

.list-product-overlay-modal {
   display: flex;
   justify-content: center;
   align-items: center;

   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   background-color: rgba(#ececec, 0.4);
}

.list-product-modal-contents {
   width: fit-content;
   height: fit-content;

   position: absolute;
   top: 0;

   background-color: rgb(255, 255, 255);
   // border: 1px solid #777 !important;
   border-radius: 5px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

   animation: top_down 0.5s ease;
}

.add-promotion-overlay-modal {
   display: flex;
   justify-content: center;
   align-items: center;

   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;

   background-color: rgba(#ececec, 0.7);
}

.add-promotion-modal-contents {
   width: 350px;
   height: fit-content;

   background-color: rgb(255, 255, 255);
   border: 1px solid #777 !important;
   border-radius: 5px;
}
