.wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
}

.inner-contents {
   width: 75%;
   margin-top: 50px;
}

.product-details {
   display: flex;
   justify-content: left;
}

.product-image {
   display: flex;
   align-items: center;
   margin-right: 30px;

   & .preview-img {
      width: 500px;
      height: 500px;
      object-fit: cover;
   }

   & .img-slide {
      display: flex;
      align-items: flex-start;
      // height: 501px;
      margin-right: 7px;

      & .slide-img {
         display: block;
         border: 1px solid #999;
         user-select: none;
         width: 120px;
         height: 120px;
         object-fit: cover;

         &:hover {
            cursor: pointer;
         }
      }
   }
}

// .zoom-images {
//    & .detail-images {
//    }

//    & .main-image {
//       width: 700px;
//       height: 700px;
//       object-fit: cover;
//    }

//    & .slide-detail-images {
//       width: 1200px;
//    }

//    & .preview-slide-image {
//       width: 150px;
//       height: 150px;
//       object-fit: cover;
//    }
// }

.product-info {
   flex: 1;
   width: 500px;
   color: var(--txtColor);
}

.product-name {
   font-weight: 500;
   color: #000;
   padding-bottom: 25px;
}

.product-vote {
   font-size: 1.8rem;
   height: 50px;
}

.vote-rate {
   margin: 0 5px;
}

.vote-icon {
   color: darkorange;
}

.flex-product-price {
   display: flex;
   align-items: center;
   margin-bottom: 40px;
   padding: 14px;
   background-color: #eee;
}

.product-discount {
   font-size: 2rem;
   color: #777;
   text-decoration: line-through;
   margin-right: 10px;
   font-weight: 500;
}

.product-price {
   color: darkorange;
   font-weight: 700;
}

.discount-flag {
   margin-left: 20px;
   background-color: red;
   padding: 2px 8px;
   color: white;
   display: flex;
   align-items: center;
}

.flex-amount {
   display: flex;
   align-items: center;
}

.product-amount {
   width: fit-content;
   display: flex;
   align-items: center;
   margin-bottom: 50px;
   padding: 5px;
   border: 1px solid #777;
}

.increase-product,
.minus-product {
   cursor: pointer;
   font-size: 1.8rem;
}

.amount {
   width: 30px;
   text-align: center;
   font-size: 2rem;
   margin: 0 8px;
   font-weight: 500;
   user-select: none;
}

.product-instock {
   user-select: none;
   font-size: 1.8rem;
   margin-left: 30px;
   margin-bottom: 50px;
}

.stocking {
   color: #76bd1c;
}

.out-of-stock {
   color: red;
}

.btns {
   display: flex;
}

.add-to-cart-btn {
   width: fit-content;
   margin-right: 10px;
}

.buy-now-btn {
   width: fit-content;
}

.product-descriptions {
   margin-top: 30px;

   & h3 {
      display: flex;
      align-items: center;
      height: 45px;
      background-color: lightblue;
      font-size: 2.4rem;
      padding-left: 8px;
   }
}

.descriptions {
   padding: 8px 8px 0 8px;
}

.img-list {
   display: flex;
   flex-direction: column;
   align-items: center;

   & img {
      width: 800px;
      object-fit: cover;
      padding: 5px 0;
   }
}

.more-detail-btn {
   display: flex;
   justify-content: center;
   margin-top: 10px;

   & .btn {
      width: fit-content;
   }
}

.product-comments {
   margin-top: 20px;

   & h3 {
      display: flex;
      align-items: center;
      height: 45px;
      background-color: lightBlue;
      font-size: 2.4rem;
      padding-left: 8px;
   }

   & .comment-form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px 0;

      & .comment-left-side {
         & .comment-input {
            width: 500px;
            height: 35px;
            padding: 0 8px;
            font-size: 1.8rem;
            font-weight: 400;
            border-bottom: 1px solid #999;

            & :focus {
               border-bottom: 1px solid #555;
            }
         }

         & .rating {
            display: flex;
            align-items: center;
            margin-top: 20px;

            & span {
               font-size: 2.6rem;
               font-weight: 400;
               color: orange;
               margin-left: 15px;
            }
         }
      }

      & textarea {
         resize: none;
         width: 500px;
         padding: 8px 8px;
         font-size: 1.8rem;
         font-weight: 400;
      }
   }

   & .comment-action {
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid #999;
      padding: 10px 0;

      & .comment-btn {
         width: fit-content;
      }
   }

   & .comment-list {
      margin-top: 20px;

      & .comment {
         padding: 10px;
         margin: 2px 0;
         background-color: #eee;

         & .comment-header {
            display: flex;
            align-items: center;
         }

         & h4 {
            font-size: 1.8rem;
            font-weight: 400;
            padding-right: 15px;
         }
      }
   }
}

.recommend-products {
   width: 1245px;
   margin-top: 30px;
   margin-left: -77px;

   & .title-list {
      position: relative;
      font-size: 3rem;
      line-height: 30px;
      color: var(--txtColor);
      padding: 0 0 10px 10.5px;
      margin-bottom: 5px;

      &::before {
         position: absolute;
         content: '';
         height: 25px;
         border: 3.5px solid var(--mainColor);
         left: 0;
         bottom: 10px;
      }
   }
}
